<header id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-1"></div>
      <div class="col-md-10 col-lg-10">
              <h1 class="cover-heading">안녕하세요! <span>조원진입니다!</span></h1>

              <h3 class="cover-profession">제주대학교 경제학과</h3>
          </div>
          <div class="col-md-1 col-lg-1"></div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">

            <div class="cover-description">
                <p>저는 경제학과 3학년 조원진입니다. 늦은 시기에 프로그래밍에 관심을 갖게 되어서 컴퓨터공학과를 복수전공으로 듣게 되었습니다.저에 대한 더 자새한 내용은 <a href="#profile">profile</a>을 확인해 주시길 바랍니다.</p>
              </div>        

              <ul class="social">
                 <li><a href="https://github.com/dnjs0309" target="_blank"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
        </div>
        

      

    </div>
  </div>
</header>
