<section id="skills">
	<div class="container">
		<div class="row">
			<div class="col-md-3 section-icon">
				<i class="fa fa-gears fa-5x"></i>  
			</div>
			<div class="col-md-6">
				<h1>자격 및 능력</h1>
			</div>
		</div>		

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-7">
				<h3 class="skill-group">어학</h3>

				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="60"><span>TOEIC</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="20"><span>TOPLE</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="10"><span>OPIC</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="skill-group">금융 및 보험</h3>

				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="60"><span>Soa-p</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="40"><span>Soa-FM</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="30"><span>AFRK</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="10"><span>CFRK</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="skill-group">컴퓨터</h3>

				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="70"><span>C언어</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="30"><span>C++</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="50"><span>HTML</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="30"><span>PHP</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="0"><span></span></div>
				</div>
			</div>
		</div>
	</div>
</section>
